!!!
%html
  %head
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    %a.navbar-brand{:href => "#"}
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item.active
          %a.nav-link{:href => "#"}
            Home
            %span.sr-only (current)
        %li.nav-item
          %a.nav-link{:href => "portfolio.html.haml"} Portfolio
        %li.nav-item
          %a.nav-link{:href => "about.html.haml"} Who am I?
        %li.nav-item
          %a.nav-link.disabled{:href => "contact.html.haml"} Contact
        %li.nav-item
          %a.nav-link.disabled{:href => "#"} Stuff of the month

    %title Sophie's Portfolio
    %meta{:charset => "utf-8"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, shrink-to-fit=no"}/

    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", :integrity => "sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb", :crossorigin => "anonymous"}
    =stylesheet_link_tag 'site'
    %script{:src => "http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"}

  %body{:class => page_classes}
    =yield
    =partial 'partials/_footer'
    %footer
