%div{:class => "wrapper", :id => "wrapper"}
%blockquote.blockquote.text-center
  %h6
  %footer.blockquote-footer
    Saving lives one line of code at a time..
    = display_date
    %br

    %a{:href => "http://www.facebook.com/SophieSjoberg.9", :target => "_blank", :title => "follow me on facebook"}
      %img{:alt => "follow me on facebook", :border => "0", :src => "https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png"}/
    %a{:href => "https://www.linkedin.com/in/sophie-sj%C3%B6berg-64b3a5153/", :target => "_blank", :title => "follow me on LinkedIn"}
      %img{:alt => "follow me on LinkedIn", :border => "0", :src => "https://www.shareicon.net/data/48x48/2017/06/30/888051_logo_512x512.png"}/
    %a{:href => "http://www.instagram.com/sophiesjoberg", :target => "_blank", :title => "follow me on instagram"}
      %img{:alt => "follow me on instagram", :border => "0", :src => "https://c866088.ssl.cf3.rackcdn.com/assets/instagram30x30.png"}/
