%script{:crossorigin => "anonymous", :integrity => "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", :src => "https://code.jquery.com/jquery-3.2.1.slim.min.js"}
%script{:crossorigin => "anonymous", :integrity => "sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"}
%script{:crossorigin => "anonymous", :integrity => "sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"}
%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  %a.navbar-brand{:href => "#"}
  %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item.active
        %a.nav-link.text-warning{:href => "index.html"}
          Home
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link.text-info{:href => "/portfolio.html"} Portfolio
      %li.nav-item
        %a.nav-link.text-info{:href => "about.html"} Who am I?
      %li.nav-item
        %a.nav-link.text-info{:href => "contact.html"} Contact
      %li.nav-item
        %a.nav-link.disabled{:href => "#"} Stuff of the month

-#
-# :javascript
-#   $(function () {
-#   $(var navButton = document).getElementById("nav-button"),
-#       navUl = document.getElementsByClassName("nav-ul");
-#   $(function toggleMobileMenu() {
-#     navUl[0].style.transition = "max-height 0.5s";
-#     navUl[0].classList.toggle("hide-ul");
-#   })
-#   $(navButton.onclick = toggleMobileMenu);
