!!!
%html
  %head
= "<br/>"*3
%h3.text-center ~WORK IN PROGRESS~

%label{:for => "exampleFormControlTextarea1"} Contact me:
%form{:action => "http://formspree.io/sophie.sjoberg@gmail.com", :method => "POST"}
  %input{:name => "email", :placeholder => "Your email", :type => "email"}/
  %input{:name => "message", :placeholder => "Your message"}
  %button.btn-pill.btn-info{:type => "submit", :style => "margin-top: 25px;"} Send
  %input{:name => "_next", :type => "hidden", :value => "//sophiesjoberg.surge.sh"}/
