
%img.img-fluid{:alt => "Responsive image", :src => "https://source.unsplash.com/nXPUwmczpq8/1800x650"}/
-# .projects
-#   - data.projects.each do |project|
-#     %h4= project[:name]
-#     %p= project[:description]
