
%img.img-fluid{:alt => "Responsive image", :src => "https://source.unsplash.com/nXPUwmczpq8/1600x900"}/

.projects
  - data.projects.each do |project|
    %h4= project[:name]
    %p= project[:description]
