.jumbotron.jumbotron-fluid.bg-secondary
  .container
    %h4.display-3 My Projects
    %p.lead This is were you will find my current, past and upcoming projects.

-# %img.img-fluid{:alt => "Responsive image", :src => "https://source.unsplash.com/nXPUwmczpq8/1800x650"}/
-# %h3.text-center MY PROJECTS
-# = "<br/>"*3

-# .projects
-#   - data.projects.each do |project|
-#     %h6= project[:title]
-#     %p= project[:description]
.row
.card-deck
  .card
    %img.card-img-top{:alt => "Card image cap", :src => "https://source.unsplash.com/8fDhgAN5zG0/240x200"}/
    .card-body
      %h4.card-title ATM Challenge
      %p.card-text A Test driven ruby simulation of an ATM machine.
      %p.card-text
        %a.badge.badge-pill.badge-info{:href => "https://github.com/SophieSjoberg/ATM_Challenge", :role => "button", :target => "_blank", :title => "Github repository"} Github
  .card
    %img.card-img-top{:alt => "Card image cap", :src => "https://source.unsplash.com/1Shk_PkNkNw/240x200"}/
    .card-body
      %h4.card-title BMI Calculator
      %p.card-text A Test driven JS BMI calculator with both metric and imperial systems.
      %p.card-text
        %a.badge.badge-pill.badge-info{:href => "https://github.com/SophieSjoberg/BMI_Challenge", :role => "button", :target => "_blank", :title => "Github repository"} Github
        %a.badge.badge-pill.badge-secondary{:href => "https://sophiesjoberg.github.io/BMI_Challenge/", :role => "button", :target => "_blank", :title => "BMI site"} Website
  .card
    %img.card-img-top{:alt => "Card image cap", :src => "https://source.unsplash.com/PHIgYUGQPvU/240x200"}/
    .card-body
      %h4.card-title Cooper Test
      %p.card-text A Jasmine tested JS solution for a fictive Cooper test.
      %p.card-text
        %a.badge.badge-pill.badge-info{:href => "https://github.com/SophieSjoberg/Cooper_test", :role => "button", :target => "_blank", :title => "Github repository"} Github
  .card
    %img.card-img-top{:alt => "Card image cap", :src => "https://source.unsplash.com/aG-pvyMsbis/240x200"}/
    .card-body
      %h4.card-title FizzBuzz
      %p.card-text FIzzBuzz challenge, one written in JS and tested with rspec the other in ruby and tested with Jasmine.
      %p.card-text
        %a.badge.badge-pill.badge-info{:href => "https://github.com/SophieSjoberg/Week_2_assesment", :role => "button", :target => "_blank", :title => "Github repository"} Github JS
        %a.badge.badge-pill.badge-danger{:href => "https://github.com/SophieSjoberg/Fizz_Buzz", :role => "button", :target => "_blank", :title => "Github repository"} Github Ruby
