!!!
%html
  %head
  %br
  %h4 Resumé / Curriculum Vitae
= "<br/>"*2
.container
%a.text-align{:style => "text-align.center", :href => "cv.html"}

.resume
  - data.resume.each do |resume|
    %h6= resume[:title]
    %h6= resume[:description]
    %p= resume[:time]
